body {
    text-align: center;
    background-color: lightblue;
}

form {
    display: inline-block;
}

#mainDiv {
    background-color: white;
    border: 1px solid #000000;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -300px;
}